/*the cyber font to give the text more style*/
@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}



* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*colors for the name text*/
#name {
    color: #cf1c58;
    text-shadow: 2px 2px #551818;
}

/*colors for the portfolio text*/
#port {
    color: #800031;
    text-shadow: 2px 2px #251111;
}




/*the profiles borders*/
.github_pfp {
    border-radius: 100%;
    width: 240px;
    border: 10px #800031;
    border-style: outset;
    background-color: #213541;

}

/*a lil bit of padding to make the nav bar float of the side*/
.side_nav {
    padding-top: 10vh;
    padding-left: 0.5vw;
}

/* the backgroundcolor and font of the html */
html {
    scroll-behavior: smooth;
    font-family: 'Cyber';
    background: #4c9292;
}

/* the size's of all the section*/
section {
    height: 100vh;
    width: 100vw;

}

/* size of the scrollbar Track */
::-webkit-scrollbar {
    width: 20px;
}


/* Track */
::-webkit-scrollbar-track {
    border: #ffffff;

    border-style: inset;
    background-color: #800031;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5fb3b3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #348c92;
}

/*colors and fonts of welcome-section*/
#welcome-section {
    height: 80vh;
    background: #4c9292;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;


}




/*the div in welcome section*/
#welcome-section div {
    margin: auto;
    text-align: center;

}




/*the nav-bar size and fonts*/
nav {
    border-style: inset;
    height: 280px;
    width: fit-content;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #a10f47;
    position: fixed;
    font-size: 20px;
    justify-content: flex-start;
    display: flex;
    gap: 30px;

    font-weight: 700;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 30px;
}

/*the color of all the a elements in the nav-bar*/
nav a {

    color: #ffffff;
    text-decoration: none;

}

/*the projects h1 font size*/
#projects h1 {
    font-size: 4rem;

}

/*the welcome-section h1 font size*/
#welcome-section h1 {
    font-size: 4rem;
}

p {
    color: #ffffff;
    text-decoration: none;



}

/*placement of projects*/
#plp {
    padding-top: 20px;
    flex-direction: row;
    display: flex;
    gap: 20px;

}

/*size of all the project images*/
#plp1 img {
    height: 400px;
    width: 400px;
}


/*fonts and colors of projects*/
#plp1 {


    border: #fff;
    border-style: ridge;
    background-color: #4c9292;
    font-size: 40px;
    text-align: center;


}

#plp1:hover {

    border: rgb(238, 54, 146);
    border-style: ridge;

}



/*my projects*/
#projects {


    height: 180vh;
    width: 100vw;

    background: #800031;
    color: #fff;
    display: flex;

    flex-direction: column;
    align-items: center;
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
}

/*section for media*/
#media-out {

    border-top: #fff;
    height: 25vh;
    width: 100vw;
    color: #fff;
    background-color: #336767;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

/*social media*/
.media-in {

    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 90%;
    padding-bottom: 30px;

    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .side_nav {

        display: none;
    }

    #welcome-section {
        height: 10vh;
    }

    section {
        height: 50vh;

    }


    .github_pfp {

        width: 170px;



    }

    ::-webkit-scrollbar {
        width: none;
    }


    #welcome-section h1 {
        font-size: 2rem;
    }

    #projects h1 {
        font-size: 2rem;


    }

    #phone-rotate {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    #projects {
        height: 90vh;
        width: 100vw;

    }


    #plp {
        padding-top: 10px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    nav {
        display: none;
    }

    #plp1 {


        border: #fff;
        border-style: ridge;

        font-size: 1px;
        height: 165px;


    }


    p {
        font-size: 1rem;



    }

    .media-in {

        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        margin-left: none;
        width: 60%;
        padding-bottom: 10px;
        gap: 10px;
        justify-content: flex-end;
    }


    #plp1 img {
        height: 120px;
        width: 120px;
    }
}